<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breeze</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--include google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

    <!--include slick slider-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!--need delete in prod-->
    <meta http-equiv="cache-control" content="no-cache" />
    <!--end del block-->
</head>
<body>
