<section class="b__banner container">
    <div class="b__banner--block">
        <div class="b__banner--best">
            <figure>
                <div class="b__banner--image">
                </div>
                <figcaption>
                    <h2>Best price</h2>
                    <p>this week</p>
                </figcaption>
            </figure>
        </div>
        <div class="b__banner--new">
            <figure>
                <div class="b__banner--image">
                </div>
                <figcaption>
                    <h2>New smells</h2>
                    <p>in the next series</p>
                </figcaption>
            </figure>
        </div>
        <div class="b__banner--only">
            <figure>
                <div class="b__banner--image">
                </div>
                <figcaption>
                    <h2>Only natural</h2>
                    <p>air freshers</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>