<section class="b__header">
    <div class="container">
        <div class="b__header--info">
            <div class="b__header--logo">
                <figure>
                    <p><img src="images/logo.png" alt="logo"></p>
                    <figcaption>
                        Online Store Theme
                    </figcaption>
                </figure>
            </div>
            <div class="b__header--search">
                    <div class="b__header--search-input">
                        <input type="text" placeholder="Online Store Theme" id="search" name="search" size="30">
                        <label for="search"><img src="images/Search-icon.png" alt="search"></label>
                    </div>
            </div>
            <div class="b__header--usermenu">
                <div class="b__header--usermenu-nav">
                    <button class="account">My Account</button>
                    <button class="wishlist">My Wishlist</button>
                    <button class="logIn">Log In</button>
                    <button class="signUp">Sign Up</button>
                </div>
                <button class="cart">
                    <img src="images/icon_cart.png" alt="cart">Cart
                    <span class="b__header--usermenu-cart-total">$ 0.00</span>
                </button>
            </div>
        </div>
        <div class="b__header--menu">
            <button class="active">home</button>
            <button>solid</button>
            <button>liquids</button>
            <button>spray</button>
            <button>electric</button>
            <button>for cars</button>
        </div>
        <div class="b__header--slider">
            <div><img src="images/breeze.png" alt="breeze" title="breeze">
                <div class="b__header--slider--text">
                    <h3>Breeze noticeables</h3>
                    <p>The new series of natural air fresheners.
                        Febreze Noticeables Meadows & Rain
                        Air Freshener Refill.
                    </p>
                </div>
            </div>
            <div><img src="images/store.jpg" alt="store" title="store">
                <div class="b__header--slider--text">
                    <h3>Магазин</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, hic!
                    </p>
                </div>
            </div>
            <div><img src="images/puppy.jpg" alt="puppy" title="puppy">
                <div class="b__header--slider--text">
                    <h3>Змеиный террор</h3>
                    <p>Два щенка попали в плен к злой змее.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>