<header class="b__topper">
    <div class="container">
        <div class="b__topper--phone"><img src="/images/icon_phone.png" alt="phone"> Call Us +7 (100)  1234</div>
        <div class="b__topper--welcome">
            Welcome visitor you can
            <a href="#" class="b__topper--welcome-link logIn">login</a> or
            <a href="#" class="b__topper--welcome-link signUp">create an account.</a>
        </div>
        <div class="b__topper--toggle">
            <div class="b__topper--lang">
                <button class="b__topper--lang-en active">en</button>
                <button class="b__topper--lang-fr">fr</button>
                <button class="b__topper--lang-gm">gm</button>
            </div>
            <div class="b__topper--currency">
                <button class="b__topper--currency-dol active">&#36;</button>
                <button class="b__topper--currency-eur">&#8364;</button>
                <button class="b__topper--currency-gb">&#163;</button>
            </div>
        </div>

    </div>
</header>